.history-item {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  list-style-type: none;
}
.time {
  color: black;
  font-size: 8px;
  font-family: 'ROBOTO';
}
.logourl-container {
  display: flex;
  justify-content: space-between;
}
.logoUrl {
  height: 20px;
  width: 20px;
}
.title {
  color: black;
  font-size: 10px;
  font-family: 'Roboto';
}
.domainUrl {
  color: #64748b;
  font-size: 10px;
}
.delete-button {
  background-color: transparent;
  border: none;
}
.delete {
  height: 20px;
  width: 20px;
}
